html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.bg-img {
    /* The image used */
    height: 100vh;

    /* Center and scale the image nicely */
    background: url("../img/big.jpg") no-repeat center;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

    top: 0;
    left: 0;
    right: 0;
}

.container {
    overflow: hidden;
    padding:15px;
}

.container a, span {
    color:white;
    cursor:pointer;
    font-size: 20px;
}

.container span {
    color:white;
}

#logo {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.text-container {
    position: absolute;
    top: 43%;
    left: 17%;
}
.fancy {
    position: relative;
    align: center;
    font-size: 56px;
    color: #fff;
}

.click-to-action {
    position: relative;
    align: center;
    font-size: 21px;
    color: #fff;
    text-align:center;

    margin-top: 5px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 25px;
    border: 2px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;

    cursor:pointer;
}
.world-map {
    position:relative;
    background: #fff;
    height: 100vh;
    width: 100%;
}

.world-map {
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

.world-img {
    padding-top: 100px;
    width: 1200px;
    height: auto;
    vertical-align: middle;
}