<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div th:fragment="footer">
    <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
            <div class="row mb60">
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">About Global Beer Shop.</h4>
                        <p>Everybody needs to believe in something. We believe in having another beer.</p>
                        <p><a href="/about">Read more...</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget probootstrap-link-wrap">
                        <h4 class="heading">Quick Links</h4>
                        <ul class="stack-link">
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/cart">My Cart</a></li>
                            <li><a href="/about">About</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="probootstrap-footer-widget">
                        <h4 class="heading">More Links</h4>
                        <ul class="stack-link">
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/testimonials">Testimonial</a></li>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href="/contact"><button type="button" class="btn btn-default">Contact us</button></a>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-6">
                    <div class="probootstrap-footer-widget">
                        <p>&copy; 2019 <a href="/">Global Beer Shop</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="probootstrap-footer-widget right">
                        <ul class="probootstrap-social">
                            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>