<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div th:fragment="footer">
    <!-- Footer -->
    <footer class="page-footer">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row wild-font">

                <!-- Grid column -->
                <div class="col-md-6">

                    <!-- Content -->
                    <h2>Global Beer Shop</h2>
                    <p>"Everybody needs to believe in something. We believe in having another beer."</p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3">

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Home</a>
                        </li>
                        <li>
                            <a href="#!">Shop</a>
                        </li>
                        <li>
                            <a href="#!">Cart</a>
                        </li>
                        <li>
                            <a href="#!">About</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3">

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Contact</a>
                        </li>
                        <li>
                            <a href="#!">FAQ</a>
                        </li>
                        <li>
                            <a href="#!">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#!">Privacy</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center social-icon">
            <li class="list-inline-item">
                <a class="btn-floating" href="#">
                    <span class="social-icon"><img th:src="@{../img/facebook-icon.png}" ></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating" href="#">
                    <span><img th:src="@{../img/instagram-icon.png}" ></span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating" href="#">
                    <span><img th:src="@{../img/twitter-icon.png}" ></span>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="/">GlobalBeerShop.co.uk</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>

</body>
</html>