<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!--this is the header-->
    <div th:fragment="header">
        <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" th:href="@{../css/main.css}" media="screen"/>

    </div>
</head>
<body>

<!-- navbar -->
<div th:fragment="navbar">
    <div class="announcements">
        <div class="announcement">
            <p>Free delivery over £20!</p>
        </div>
        <div class="announcement">
            <p>Call us now for an offer!</p>
        </div>
    </div>

    <div class="container logo">
        <span>Global Beer Shop</span>
    </div>

    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/shop">SHOP</a></li>
                    <li><a href="/cart">MY CART</a></li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/user}">MY ACCOUNT</a>
                    </li>


                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">LOG OUT</a>
                    </li>


                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">LOG IN</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>