<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="products">
    <div class="col-sm-4" th:each="beer : ${beers}">
        <div class="panel-primary">
            <span th:text="${beer.name}"></span>
        </div>
        <div class="panel-body"><img th:src="${beer.image}" class="img-responsive" style="width:100%" th:alt="${beer.name}"></div>
        <div class="panel-footer" th:inline="text">Price: [[${beer.price}]]</div>
        <div class="panel-footer" th:inline="text">In Stock: [[${beer.stock}]]</div>
        <div class="row">
            <div class="col-sm-6">
                <form th:if="${beer.stock}>0" action="/cart/add" method="post">
                    <input type="hidden" name="id" th:value="${beer.id}"/>
                    Quantity: <input type="number" name="quantity" value="1" min="1" th:max="${beer.stock}"><br>
                    <input type="submit" value="Add to Cart">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>