.jumbotron {
    background-image: url("../img/header.jpg");
    background-position: 0% 70%;
    background-size: cover;
    font-family: Rye, cursive;
    color: #fff;
    padding: 100px 25px;
}

.navbar {
    margin-bottom: 0;
    background-color: indianred;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: coral !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: indianred;
}

/*Small displays, smartphones, tablets under 768px*/
@media (max-width: 768px) {

    .page-header {
        text-align: center;
    }

    .page-header small {
        display: block;
    }

}

.cart-row {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}
.cart-row div {
    text-align: center;
}
.cart-row img.img-responsive {
    margin: 0 auto;
}

.btn-primary {
    background-color: indianred;
    border-color: indianred;
}

.btn-primary:hover {
    background-color: coral;
    border-color: coral;
}