/* Your custom css code goes here */
a.probootstrap-logo {
    width: 25px;
}

.btn-default {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 25px;
}

.with-hover .quantity-modifier {
    color: #000;
}

.probootstrap-card .category {
    color: #636363;
}