/* Your custom css code goes here */
a.probootstrap-logo {
    width: 25px;
}

.btn-default {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 25px;
}

.with-hover .quantity-modifier {
    color: #000;
}

.probootstrap-card .category {
    color: #636363;
}

.wild-font {
    font-family: Rye, cursive;
}

h2 {
    font-family: Rye, cursive;
}

.btn-to-action {
    background: transparent;
    border: solid white;
    color: white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

.btn-to-action:hover {
    color: lightgray;
}

.interactive-map {
    display: none;
}

@media (min-width: 768px) {
    .interactive-map {
        display: block;
    }
}

.merge {
    color: red;
}