.jumbotron {
    background-image: url("../img/header.jpg");
    background-position: 0% 70%;
    background-size: cover;
    font-family: Rye, cursive;
    color: #fff;
    padding: 100px 25px;
}

.navbar {
    margin-bottom: 0;
    background-color: indianred;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: indianred !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: indianred;

}

.monospaced { font-family: 'Ubuntu Mono', monospaced ; }

.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
}

.add-to-cart .btn { border-radius: 0; }