.jumbotron {
    background-image: url("../img/header.jpg");
    background-position: 0% 70%;
    background-size: cover;
    font-family: Rye, cursive;
    color: #fff;
    padding: 100px 25px;
}

.btn-primary {
    background-color: chocolate;
    border-color: chocolate;
}

.btn-primary:hover {
    background-color: coral;
    border-color: coral;
}

.navbar {
    margin-bottom: 0;
    background-color: chocolate;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: chocolate !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: chocolate;

}