.pic-holder {
    margin-top: 20px;
}

.description-holder {
    background-color: whitesmoke;
    margin-top: -250px !important;
}

.btn-product {
    width: 50%;
    height: 50px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .btn-product {
        width: 80%;
    }
}