.beer-holder {
    width: 70%;
}

.probootstrap-sidebar {
    max-width: 80%;
}

.btn-clear {
    background: gray;
    margin-top: -5px;
}

@media (max-width: 768px) {
    .beer-holder {
        width: 100%;
    }
}

