.btn-view {
    display: block;
    margin-top: 20px;
}

.lnk-view {
    display: none;
}

.col-orders {
    font-size: 20px;
}

.col-desc {
    font-size: 15px;
}

@media (max-width: 768px) {

    .btn-view {
        display: none;
    }

    .lnk-view {
        display: block;
        margin-top: 30px;
    }

    .col-orders, .col-desc {
        font-size: 12px;
    }

}
