<!DOCTYPE html>
<html lang="en">
<head>
    <title>Global Beer Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/checkout">CHECKOUT</a></li>
                <li><a href="/cart">CART</a></li>
                <li><a href="#">SEARCH</a></li>
                <li><a href="/#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Global Beer Shop</h1>
    <p>Fancy a beer?</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/shop" role="button">Click here</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Your Beer Cart <small>Please check your selection</small></h1>
            </div>
        </div>
    </div><!-- end .row -->
</div><!-- end .container-fluid -->


<footer class="container-fluid text-center">
    <a href="/cart" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>&copy; Global Beer Shop</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>