<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart - Global Beer Shop</title>

    <link rel="stylesheet" th:href="@{../css/cart.css}" media="screen"/>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>
<div class="alert alert-info" th:if="${emptyCartMessage}" th:utext="${emptyCartMessage}"></div>

<div class="container">
    <section class="shopping-cart">
        <div class="container">
            <div class="text-center wild-font">
                <h2>SHOPPING CART</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="items">
                            <div class="product" th:each="beer : ${beers.entrySet()}">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img th:src="${beer.getKey().image}" class="img-responsive" style="width:100%" th:alt="${beer.getKey().image}">
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-xs-5 product-name">
                                                    <div class="product-name">
                                                        <span class="wild-font" style="text-transform: uppercase;" th:text="${beer.getKey().name}"></span>
                                                        <div class="product-info">
                                                            <div>Country: <span class="value" th:inline="text">[[${beer.getKey().country}]]</span></div>
                                                            <div>Brewer: <span class="value" th:inline="text">[[${beer.getKey().brewer}]]</span></div>
                                                            <div>Type: <span class="value" th:inline="text">[[${beer.getKey().type}]]</span></div>
                                                            <div>ABV: <span class="value" th:inline="text">[[${beer.getKey().abv}]]</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <form action="/cart/update" method="post">
                                                        <input type="hidden" name="id" th:value="${beer.getKey().id}"/>
                                                        Update: <br>
                                                        <input type="number" name="quantity" value="1" min="1" th:max="${beer.getKey().stock}"><span th:inline="text"> x £[[${beer.getKey().price}]]</span><br>
                                                        <button type="submit" class="btn btn-primary">
                                                            Update
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="col-xs-1">
                                                    <form action="/cart/remove" method="post">
                                                        <input type="hidden" name="id" th:value="${beer.getKey().id}"/>
                                                        <button type="submit" class="close remove-sym" aria-label="Close" title="Remove">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <button type="submit" class="btn btn-secondary remove-btn">
                                                            Remove
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="summary">
                            <div class="wild-font">
                                <h3>SUMMARY</h3>
                            </div>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price" th:inline="text">£[[${total}]]</span></div>
                            <div class="summary-item"><span class="text">Total</span><span class="price" th:inline="text">£[[${total}]]</span></div>
                            <form action="/cart/checkout" method="get">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("navbar-fixed-top")
        } else {
            navbar.classList.remove("navbar-fixed-top");
        }
    }
</script>
</body>
</html>