<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout - Global Beer Shop</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<div class="probootstrap-loader"></div>

<div th:replace="fragments/header :: header"></div>

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>Checkout</h2>
                            <p>Fill in the form below to complete your order</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 probootstrap-animate overlap">
                <form action="/checkout" method="post" class="probootstrap-form probootstrap-form-box mb60" th:object="${order}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Forename</label>
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="Forename" th:field="*{name}" th:value="${order.name}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Surname</label>
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"></label>
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Surname" th:field="*{lastName}" th:value="${order.lastName}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" th:field="*{email}" th:value="${order.email}">
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger"></label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" th:field="*{address}" th:value="${order.address}">
                    </div>
                    <div class="form-group">
                        <label for="city">City/Town</label>
                        <label th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="alert alert-danger"></label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City/Town" th:field="*{city}" th:value="${order.city}">
                    </div>
                    <div class="form-group">
                        <label for="county">County</label>
                        <label th:if="${#fields.hasErrors('county')}" th:errors="*{county}" class="alert alert-danger"></label>
                        <input type="text" class="form-control" id="county" name="county" placeholder="County" th:field="*{county}" th:value="${order.county}">
                    </div>
                    <div class="form-group">
                        <label for="postcode">Postcode</label>
                        <label th:if="${#fields.hasErrors('zone')}" th:errors="*{zone}" class="alert alert-danger"></label>
                        <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode" th:field="*{zone}" th:value="${order.zone}">
                    </div>


                    <!--Paypal-->
                    <div class="card-details">
                        <h3 class="title">Payment</h3>
                        <div class="row">

                            <div class="notice-wrapper">
                                <div class="show notice error notice-error" th:if="${paymentErrorMessage}">
                                    <span class="notice-message" th:text="${paymentErrorMessage}"></span>
                                </div>
                            </div>

                            <section>
                                <input type="hidden" id="amount" name="amount" th:value="${total}" />
                                <input type="hidden" id="nonce" name="payment_method_nonce" />

                                <div class="bt-drop-in-wrapper">
                                    <div id="bt-dropin"></div>
                                </div>
                            </section>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Checkout</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-md-push-1 probootstrap-animate">
                <h4>Contact Details</h4>
                <ul class="with-icon colored">
                    <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                    <li><i class="icon-mail"></i><span>contact@globalbeershop.com</span></li>
                    <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                </ul>

                <h4>Got any queries?</h4>
                <p>Got any questions about delivery and pickup or payment? Visit our FAQ page.</p>
                <p><a href="#">Go Back To Shop</a></p>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<div th:replace="fragments/footer :: footer"></div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>


<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>

<script src="js/custom.js"></script>
<script src="https://js.braintreegateway.com/web/dropin/1.16.0/js/dropin.min.js"></script>
<script th:inline="javascript">
    var form = document.querySelector('#payment-form');
    var client_token = [[${clientToken}]];
    var total = [[${total}]];
    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {
            flow: 'vault',
            amount: total,
            currency: 'GBP'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }
                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>