<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Global Beer Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/checkout.css">
    <link rel="icon" href="/img/icon.ico">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left"><img src="/img/logo.png" alt="Logo" style="height: 50px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/cart">CART</a></li>
                <li><a href="/#search">SEARCH</a></li>
                <li><a href="/#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Global Beer Shop</h1>
</div>

<div class="row">
    <div class="col-75">
        <div class="checkout-container">
            <form action="/orderComplete" method="get">

                <div class="row">
                    <div class="col-50">
                        <h3>Delivery Address</h3>
                        <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                        <input type="text" id="fname" name="name" placeholder="Full Name">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="email@example.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                        <input type="text" id="adr" name="address" placeholder="Address">
                        <label for="city"><i class="fa fa-institution"></i> City/Town</label>
                        <input type="text" id="city" name="city" placeholder="City/Town">

                        <div class="row">
                            <div class="col-50">
                                <label for="county">County</label>
                                <input type="text" id="county" name="county" placeholder="County">
                            </div>
                            <div class="col-50">
                                <label for="pcode">Postcode</label>
                                <input type="text" id="pcode" name="pcode" placeholder="Postcode">
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-50">-->
                        <!--<h3>Payment</h3>-->
                        <!--<label for="fname">Accepted Cards</label>-->
                        <!--<div class="icon-container">-->
                            <!--<i class="fa fa-cc-visa" style="color:navy;"></i>-->
                            <!--<i class="fa fa-cc-amex" style="color:blue;"></i>-->
                            <!--<i class="fa fa-cc-mastercard" style="color:red;"></i>-->
                            <!--<i class="fa fa-cc-discover" style="color:orange;"></i>-->
                        <!--</div>-->
                        <!--<label for="cname">Name on Card</label>-->
                        <!--<input type="text" id="cname" name="cardname" placeholder="John More Doe">-->
                        <!--<label for="ccnum">Credit card number</label>-->
                        <!--<input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">-->
                        <!--<label for="expmonth">Exp Month</label>-->
                        <!--<input type="text" id="expmonth" name="expmonth" placeholder="September">-->

                        <!--<div class="row">-->
                            <!--<div class="col-50">-->
                                <!--<label for="expyear">Exp Year</label>-->
                                <!--<input type="text" id="expyear" name="expyear" placeholder="2018">-->
                            <!--</div>-->
                            <!--<div class="col-50">-->
                                <!--<label for="cvv">CVV</label>-->
                                <!--<input type="text" id="cvv" name="cvv" placeholder="352">-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                <!--</div>-->
                <!--<label>-->
                    <!--<input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing-->
                <!--</label>-->
                <input type="submit" value="Checkout Order and Pay with Cash on Delivery" class="checkout-btn">
            </form>
        </div>
    </div>

    <div class="col-25">
        <div class="checkout-container" >
            <h4>Cart
                <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
        </span>
            </h4>
            <p th:each="cartItem : ${cart.items}"><span th:text="${cartItem.item.name} + ' x ' + ${cartItem.quantity}">name</span> <span class="price">£ <span th:text="${cartItem.item.price}">price</span></span></p>
            <hr>
            <p>Total <b><span th:text="'£ ' + ${cart.total}" class="price" style="color:black">total</span></b></p>
        </div>
    </div>
</div>
<br>
<footer class="container-fluid text-center">
    <a href="/checkout" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>&copy; Global Beer Shop</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>