<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forgot my password - Global Beer Shop</title>
    <meta name="description" content="Global Beer Shop - Best Beers From Around The World. Get your special beer now.">
    <meta name="keywords" content="global beer shop, global, beer, shop, beers">

    <link rel="stylesheet" href="https://globalbeershop.spe.cs.bris.ac.uk/css/styles-merged.css">
    <link rel="stylesheet" href="https://globalbeershop.spe.cs.bris.ac.uk/css/style.min.css">
    <link rel="stylesheet" href="https://globalbeershop.spe.cs.bris.ac.uk/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="https://globalbeershop.spe.cs.bris.ac.uk/js/vendor/html5shiv.min.js"></script>
    <script src="https://globalbeershop.spe.cs.bris.ac.uk/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<div class="probootstrap-loader"></div>

<header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="/" class="probootstrap-logo"><img src="https://globalbeershop.spe.cs.bris.ac.uk/img/logo.png" style="max-width: 70px;" alt="Global Beer Shop"></a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <div class="extra-text visible-xs">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/user}">My Account</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out</a></li>

                    <li sec:authorize="isAnonymous()"><a href="/login">Log in</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
                </div>
            </ul>
            <ul class="probootstrap-right-nav hidden-xs">
                <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/user}">My Account</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out</a></li>

                <li sec:authorize="isAnonymous()"><a href="/login">Log in</a></li>
                <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Address</h5>
                <p>150 Piccadilly, St. James's, London W1J 9BR</p>
                <h5>Connect</h5>
                <ul class="social-buttons">
                    <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- END: header -->

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://globalbeershop.spe.cs.bris.ac.uk/img/slider_1.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>Forgot my password</h2>
                            <div class="scroll-downs js-under">
                                <a href="#under-slider" class="js-gounder">
                                    <div class="mousey">
                                        <div class="scroller"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 probootstrap-animate overlap">
                <form th:action="@{/reset/get}" method="post" class="probootstrap-form probootstrap-form-box mb60"  id="under-slider">
                    <label th:if="${successMessage}" th:text="*{successMessage}" class="alert alert-danger"></label>
                    <label th:if="${errorMessage}" th:text="*{errorMessage}" class="alert alert-danger"></label>
                    <div class="form-group">
                        <label for="email"> Email Address: </label>
                        <input id="email" class="form-control" type="text" name="email"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Set New Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<div th:replace="fragments/footer :: footer"></div>

<div class="gototop js-top" style="display: table;">
    <a href="#" class="js-gotop" style="display: table-cell; vertical-align: middle;"><i class="fas fa-chevron-up"></i></a>
</div>

<script src="https://globalbeershop.spe.cs.bris.ac.uk/js/scripts.min.js"></script>
<script src="https://globalbeershop.spe.cs.bris.ac.uk/js/main.min.js"></script>

<script src="https://globalbeershop.spe.cs.bris.ac.uk/js/custom.js"></script>

</body>
</html>