<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" th:href="@{../css/index.css}" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <title th:attr="data-custom=#{thymeleaf.app.title}">Global Beer Shop</title>
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>

<div class="jumbotron text-center">
    <h1>Fancy a beer?</h1>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/shop" role="button"><span>Click here</span></a>
    </p>
</div>

<div class="container-fluid text-center map-holder">
    <div class="row">
        <p class="wild-font map-title">WORLD BEER MAP</p>
        <p>Click to see beers from a continent</p>
    </div>
    <div class="row text-center map">
        <div class="col-md-1"></div>
        <div id="map" class="col-md-10"></div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="col-md-12 ribbon">
        <img th:src="@{../img/ribbon.png}" >
    </div>
    <br>
    <div class="row about">
        <div class="col-sm-6">
            <span class="logo-small"><img th:src="@{../img/beer-star.png}" ></span>
            <h4>TOP QUALITY BEERS</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-sm-6">
            <span class="logo-small"><img th:src="@{../img/delivery-star.png}" ></span>
            <h4>HOME DELIVERY</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>

<div class="testimonials">
    <h2 class="text-center wild-font">TESTIMONIALS</h2>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Heineken</span></h4>
            </div>
            <div class="item">
                <h4>"The only place where you can get beers form EVERYWHERE!!"<br><span style="font-style:normal;">John Doe, Customer</span></h4>
            </div>
            <div class="item">
                <h4>"Always delighted to try a new beer... and this is the place to find it!"<br><span style="font-style:normal;">Chandler Bing, Beer Enthusiast</span></h4>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script>
    $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, footer a[href='/']").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== ""){
                // Prevent default anchor click behavior
                event.preventDefault();
                // Store hash
                var hash = this.hash;
                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 900, function(){
                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascript/mapdata.js"></script>
<script type="text/javascript" src="javascript/continentmap.js"></script>
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("navbar-fixed-top")
        } else {
            navbar.classList.remove("navbar-fixed-top");
        }
    }
</script>
</body>
</html>