<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Global Beer Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/icon.ico">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left"><img src="/img/logo.png" alt="Logo" style="height: 50px;"></a>
        </div>



        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/cart">CART</a></li>
                <li><a href="/#search">SEARCH</a></li>
                <li><a href="/#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Global Beer Shop</h1>
</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8 text-center">
            <h1>Order Complete</h1>
            <img src="/img/greenTick.png" alt="Logo" style="height: 50px;">
            <h4>Cheers!</h4>
            <!--<hr>-->
            <!--<p>True cowboys are the ones who aren’t afraid to get dirty.</p>-->
            <!--<hr>-->
            <!--<p>The only good reason to ride a bull is to meet a nurse.</p>-->
            <!--<hr>-->
            <!--<p>Cowboys are gentlemen who treat women with respect and work hard. They use their manners more than any other man would and ride horse and bulls like their is no tomorrow.</p>-->
            <!--<hr>-->
            <!--<p>Ain’t nuthin’ like ridin’ a fine horse in new country.</p>-->
            <!--<hr>-->
            <!--<p>Ride E’m Cowboy, don’t let them throw ya down.. You can’t make no money if ya hit the ground, Ride E’m Cowboy, don’t let them throw ya down, You’re the toughest Cowboy in town.</p>-->
            <!--<hr>-->
            <!--<p>Cowboys don’t cry!! Maybe just a little bit when the dust gets in their eyes. A cowboy is a person who loves his horse, and being out on the ranch doing the hard and dirty work, and is loyal to his girl. I love my cowboy.</p>-->
        </div>
    </div>
</div>


<footer class="container-fluid text-center">
    <a href="#" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>&copy; Global Beer Shop</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>