<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header"></div>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script
            src="https://www.paypal.com/sdk/js?client-id=Ae78DIropRMkaRCpVc6hcxdZD7OQKElC161vbIhBmqubyeh3CUNmolt6Et2-l23WXOx8fe5xRmD0jpCR">
    </script>
</head>
<body>
<div th:replace="/fragments/header :: navbar"></div>

<div th:replace="/fragments/header :: jumbotron"></div>

<div class="container">


    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <h1>Payment</h1>
                <div id="paypal-button-container"></div>

                <script>
                    paypal.Button.render({

                        env: 'sandbox', // Or 'production' for when not testng

                    // Set up the payment:

                    // 1. Add a payment callback

                    payment: function(data, actions) {

                    // 2. Make a request to your server

                    return actions.request.get('localhost:8080/create/payment')

                    .then(function(res) {

                    // 3. Return res.id from the response

                            return res.id;

                        });

                    },

                    // Execute the payment:

                    // 1. Add an onAuthorize callback

                    onAuthorize: function(data, actions) {

// 2. Make a request to your server

                        return actions.request.post('/complete/payment', {

                            paymentID: data.paymentID,

                                payerID: data.payerID

                        })

                    .then(function(res) {

// 3. Show the buyer a confirmation message.

                        });

                    }

                    }, '#paypal-button');
                </script>

        </div>
    </div>
</div>

</body>
</html>