<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:inline="text">[[${beer.name}]] - Global Beer Shop</title>
    <meta name="description" content="Global Beer Shop - Best Beers From Around The World. Get your special beer now.">
    <meta name="keywords" content="global beer shop, global, beer, shop, beers">

    <link rel="stylesheet" href="https://globalbeershop.spe.cs.bris.ac.uk/css/styles-merged.css">
    <link rel="stylesheet" href="https://globalbeershop.spe.cs.bris.ac.uk/css/style.min.css">
    <link rel="stylesheet" href="https://globalbeershop.spe.cs.bris.ac.uk/css/custom.css">
    <link rel="stylesheet" href="https://globalbeershop.spe.cs.bris.ac.uk/css/product.css">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://globalbeershop.spe.cs.bris.ac.uk/js/vendor/html5shiv.min.js"></script>
    <script src="https://globalbeershop.spe.cs.bris.ac.uk/js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<div class="probootstrap-loader"></div>

<header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="/" class="probootstrap-logo">Beer</a>

        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <div class="extra-text visible-xs">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/user}">My Account</a></li>
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out</a></li>

                    <li sec:authorize="isAnonymous()"><a href="/login">Log in</a></li>
                    <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
                </div>
            </ul>
            <ul class="probootstrap-right-nav hidden-xs">
                <li><a href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="icon-facebook2"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="icon-instagram2"></i></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/user}">My Account</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log out</a></li>

                <li sec:authorize="isAnonymous()"><a href="/login">Log in</a></li>
                <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            </ul>
            <div class="extra-text visible-xs">
                <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
                <h5>Address</h5>
                <p>198 West 21th Street, Suite 721 New York NY 10016</p>
                <h5>Connect</h5>
                <ul class="social-buttons">
                    <li><a href="https://twitter.com/"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/"><i class="icon-facebook2"></i></a></li>
                    <li><a href="https://www.instagram.com/"><i class="icon-instagram2"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- END: header -->

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(https://globalbeershop.spe.cs.bris.ac.uk/img/slider_1.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2 th:inline="text">[[${beer.name}]]</h2>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
    <div class="container probootstrap-animate">
       <div class="probootstrap-card overlap description-holder">
           <div class="col-md-6 pic-holder">
               <img th:src="${beer.image}" class="img-responsive" style="width:100%; max-width: 300px;" th:alt="${beer.name}">
           </div>
           <div class="col-md-6">
               <div class="probootstrap-card-text">
                   <form th:if="${beer.stock}>0" action="/cart/add" method="post">
                       <input type="hidden" name="id" th:value="${beer.id}"/>
                       <div class="row">
                           <input type="submit" class="btn btn-default btn-product" value="Add to Cart">
                       </div>
                       <div class="row text-center" style="margin-top: 20px;">
                           <p>How many do you want? <input type="number" name="quantity" class="quantity-modifier" value="1" min="1" th:max="${beer.stock}"></p>
                       </div>
                   </form>
               </div>
               <div class="probootstrap-card-text reviews">
                   <div class="reviews-title">
                       <h2>Reviews</h2>
                   </div>
                   <div class="reviews-content">
                       <p>Review stars here</p>
                   </div>
               </div>
               <div class="probootstrap-card-text story">
                   <div class="story-title">
                       <h2>Story of the beer</h2>
                   </div>
                   <div class="story-content">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam elementum pulvinar etiam non quam lacus suspendisse faucibus. Vulputate enim nulla aliquet porttitor lacus. Donec et odio pellentesque diam volutpat commodo sed.</p>
                       <p>Placerat duis ultricies lacus sed turpis tincidunt id. Venenatis lectus magna fringilla urna. Magna etiam tempor orci eu lobortis. Vivamus at augue eget arcu. Diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Id cursus metus aliquam eleifend mi in nulla posuere. Egestas tellus rutrum tellus pellentesque.</p>
                       <p>Sed sed risus pretium quam vulputate. Suscipit adipiscing bibendum est ultricies integer quis. Auctor neque vitae tempus quam pellentesque nec nam aliquam sem. Elit ullamcorper dignissim cras tincidunt. Risus nullam eget felis eget nunc. Ultricies tristique nulla aliquet enim tortor. Justo donec enim diam vulputate ut pharetra sit amet aliquam. Sagittis orci a scelerisque purus semper.</p>
                   </div>
               </div>
           </div>
       </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>


<script src="https://globalbeershop.spe.cs.bris.ac.uk/js/scripts.min.js"></script>
<script src="https://globalbeershop.spe.cs.bris.ac.uk/js/main.min.js"></script>

<script src="https://globalbeershop.spe.cs.bris.ac.uk/js/custom.js"></script>

</body>
</html>