<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shop - Global Beer Shop</title>

    <link rel="stylesheet" th:href="@{../css/shop.css}" media="screen"/>
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>

<!--<div class="row">-->

<!--</div>-->

<div class="container" style="margin-top: 5%;">
    <h3 class="wild-font">FILTERS</h3>
    <form action="/shop" method="get">
        <div class="row">
            <div class="col-md-2 text-center">
                <span>Name</span> <br>
                <input type="text" class="form-control search-slt" th:value="${paramsGiven.get(0)}" name="name">
            </div>
            <div class="col-md-2 text-center">
                <span>Country</span> <br>
                <select name="country" class="btn btn-secondary dropdown-toggle">
                    <option th:value="${paramsGiven.get(1)}"  th:text="${paramsGiven.get(1)}"></option>
                    <option th:each="c : ${countries}" th:value="${c}" th:text="${c}"></option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <span>Brewer</span> <br>
                <select name="brewer" class="btn btn-secondary dropdown-toggle">
                    <option th:value="${paramsGiven.get(2)}"  th:text="${paramsGiven.get(2)}"></option>
                    <option th:each="b : ${brewers}" th:value="${b}" th:text="${b}"></option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <span>ABV</span> <br>
                <select name="abv" class="btn btn-secondary dropdown-toggle">
                    <option th:value="${paramsGiven.get(3)}"  th:text="${paramsGiven.get(3)}"></option>
                    <option th:each="a : ${abvs}" th:value="${a}" th:text="${a} "></option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <span>Type</span> <br>
                <select name="type" class="btn btn-secondary dropdown-toggle">
                    <option th:value="${paramsGiven.get(4)}"  th:text="${paramsGiven.get(4)}"></option>
                    <option th:each="t : ${types}" th:value="${t}" th:text="${t}"></option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <span>Items per Page</span> <br>
                <select name="size" class="btn btn-secondary dropdown-toggle">
                    <option th:value="${paramsGiven.get(7)}"  th:text="${paramsGiven.get(7)}"></option>
                    <option value=9>9</option>
                    <option value=27>27</option>
                    <option value=45>45</option>
                    <option value=99>99</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <span>Sort by Column</span> <br>
                <select name="sortCol" class="btn btn-secondary dropdown-toggle">
                    <option th:value="${paramsGiven.get(5)}"  th:text="${paramsGiven.get(5)}"></option>
                    <option value="name">Name</option>
                    <option value="brewer">Brewer</option>
                    <option value="country">Country of Origin</option>
                    <option value="type">Beer Type</option>
                    <option value="abv">ABV</option>
                </select>
            </div>
            <div class="col-md-4 text-center">
                <span>Sort Order</span> <br>
                <select name="sortOrd" class="btn btn-secondary dropdown-toggle">
                    <option th:value="${paramsGiven.get(6)}"  th:text="${paramsGiven.get(6)}"></option>
                    <option value="ASC">Ascending</option>
                    <option value="DESC">Descending</option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <input type="submit" class="btn btn-primary col-lg-6" value="Apply">

    </form>
            </div>
            <div class="col-md-2 text-center">
                <form action="/shop" method="get">
                    <input type="submit" class="btn btn-secondary col-lg-6" value="Clear">
                </form>
            </div>
        </div>
</div>

<div class="container products-holder">

    <div class="col-sm-4" th:each="beer : ${beers}">
        <div class="card">
            <div  class="beer-title"><a th:href="@{'/products/' + ${beer.id}}"><span th:text="${beer.name}"></span></a></div>
            <img th:src="@{../img/beer-template.png}" class="img-responsive card-img-top" style="width:100%" th:alt="${beer.name}">
            <div class="row wild-font" th:inline="text">Price: £[[${beer.price}]]</div>
            <div class="row" style="padding-bottom: 10px">
                <form th:if="${beer.stock}>0" action="/cart/add" method="post">
                    <input type="hidden" name="id" th:value="${beer.id}"/>
                    <span class="wild-font">Quantity: </span><input type="number" name="quantity" class="form-group" value="1" min="1" th:max="${beer.stock}"><br>
                    <input type="submit" class="btn btn-primary" value="Add to Cart">
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

        <!--</div>-->
        <!-- /.col-lg-9 -->

    <!--</div>-->
    <!-- /.row -->

    <div class="text-center wild-font">
        <div th:replace="fragments/pagination :: pagination(URLparameter='/shop')"></div>
    </div>

<!--</div>-->

<div th:replace="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("navbar-fixed-top")
        } else {
            navbar.classList.remove("navbar-fixed-top");
        }
    }
</script>
</body>
</html>