<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Global Beer Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="icon" href="/img/icon.ico">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="pull-left"><img src="/img/logo.png" alt="Logo" style="height: 50px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/cart">CART</a></li>
                <li><a href="/#search">SEARCH</a></li>
                <li><a href="/#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Global Beer Shop</h1>
    <p>Best beers from all around the world</p>
</div>

<div class="container-fluid searchtool">
    <div class="row">
        <form action="/shop" method="get">
            <div class="col-sm-6">
                <div class="row">
                    <h2>Filter</h2>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Country</h4>
                        <select name="country">
                            <option value=""></option>
                            <option th:each="c : ${country}" th:value="${c}" th:text="${c}"></option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <h4>Brewer</h4>
                        <select name="brewer">
                            <option value=""></option>
                            <option th:each="b : ${brewer}" th:value="${b}" th:text="${b}"></option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <h4>ABV</h4>
                        <select name="abv">
                            <option value=""></option>
                            <option th:each="a : ${abv}" th:value="${a}" th:text="${a} "></option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <h4>Type</h4>
                        <select name="type">
                            <option value=""></option>
                            <option th:each="t : ${type}" th:value="${t}" th:text="${t}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h2>Sort</h2>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>By</h4>
                        <select name="sortCol">
                            <option value="name">Name</option>
                            <option value="brewer">Brewer</option>
                            <option value="country">Country of Origin</option>
                            <option value="type">Beer Type</option>
                            <option value="abv">ABV</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <h4>Order</h4>
                        <select name="sortOrd">
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Descending</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="submit" value="Apply">
                    </div>
                    <div class="col-sm-3">
                        <form action="/shop" method="get">
                            <input type="submit" value="Clear">
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container" >
        <div class="col-sm-4" th:each="beer : ${beerList}">
            <div class="panel panel-primary">
                <div class="panel-heading"><span th:text="${beer.name}"> NAME </span></div>
                <div class="panel-body"><img th:src="${beer.image}" class="img-responsive" style="width:100%" th:alt="${beer.name}"></div>
                <div class="panel-footer"><span th:text="${'Country: ' + beer.country}"> COUNTRY </span></div>
                <div class="panel-footer"><span th:text="${'Brewer:  ' + beer.brewer}"> BREWER </span></div>
                <div class="panel-footer"><span th:text="${'Type:  ' + beer.type}"> TYPE </span></div>
                <div class="panel-footer"><span th:text="${'ABV:  ' + beer.abv + '%'}"> ABV </span></div>
                <div class="panel-footer"><span th:text="${'Price: £' + beer.price}"> PRICE </span></div>

                <div class="row">
                    <div class="col-sm-6">
                        <form action="/cart" method="post">
                            <input type="hidden" name="add" th:value="${beer.id}"/>
                            Quantity: <input type="number" name="quantity" value="1" min="1" max="100"><br>
                            <input type="submit" value="Add to Cart">
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <a th:href="${'/item/' + beer.id}" class="btn btn-info" role="button">View</a>
                    </div>
                </div>

            </div>
        </div>
</div>

<footer class="container-fluid text-center">
    <a href="/shop" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>&copy; Global Beer Shop</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
