<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<br>

<div class="container">


    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/user/details}" method="post" role="form">

                <h3>Edit My Detials</h3>
                <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>
                <div class="alert alert-info" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

                <div class="form-group">
                    <h4>Forename</h4>
                    <input type="text" name="firstName" th:value="${user.firstName}" class="form-control input-lg"/>
                </div>

                <div class="form-group">
                    <h4>Surname</h4>
                    <input type="text" name="lastName" th:value="${user.lastName}" class="form-control input-lg"/>
                </div>


                <div class="row">
                    <div class="col-sm-3" style="float: none; margin: 0 auto;">
                        <input type="submit" value="Update my Details"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <a href="/" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>&copy; Global Beer Shop</p>
</footer>

</body>
</html>