<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Reviews - Global Beer Shop</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<div class="probootstrap-loader"></div>

<div th:replace="fragments/header :: header"></div>

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>My reviews</h2>
                            <p>Post a review by completing the form below</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 probootstrap-animate overlap">
                <form th:action="@{/user-reviews/submit}" th:object="${review}" method="post" class="probootstrap-form probootstrap-form-box mb60">
                    <div class="alert alert-info" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

                    <div class="form-group">
                        <label th:if="${#fields.hasErrors('beer')}" th:errors="*{beer}" class="alert alert-danger"></label>
                        <h4>Beer Purchased:</h4>
                        <select th:field="*{beer}">
                            <option class="form-control" th:each="product : ${products.entrySet()}" th:value="${product.getValue()}" th:text="${product.getValue().name}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="alert alert-danger"></label>
                        <h4>Rating:</h4>
                        <select class="form-select-button" th:field="*{rating}">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <h4>Message:</h4>
                        <label th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="alert alert-danger"></label>
                        <textarea th:field="*{message}" cols="30" rows="10" class="form-control" id="message" name="message"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="hidden" th:field="*{user}" th:value="${user}"/>
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<div th:replace="fragments/footer :: footer"></div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>

<script src="js/custom.js"></script>

</body>
</html>