<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Details - Global Beer Shop</title>
    <meta name="description" content="Global Beer Shop - Best Beers From Around The World. Get your special beer now.">
    <meta name="keywords" content="global beer shop, global, beer, shop, beers">

    <link rel="stylesheet" href="css/styles-merged.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Rye" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- START: header -->

<div class="probootstrap-loader"></div>

<div th:replace="fragments/header :: header"></div>

<section class="probootstrap-slider flexslider">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg);" class="overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
                            <h2>My details</h2>
                            <p>Change your details by completing the form below</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 probootstrap-animate overlap">
                <form th:action="@{/user-details/set}" method="post" class="probootstrap-form probootstrap-form-box mb60">
                    <div class="alert alert-info" th:if="${successMessage}" th:utext="${successMessage}"></div>
                    <div class="alert alert-info" th:if="${errorMessage}" th:utext="${errorMessage}"></div>

                    <div class="form-group">
                        <label> Forename : <input class="form-control" type="text" name="firstName" th:value="${user.firstName}"/></label>
                    </div>

                    <div class="form-group">
                        <label> Surname: <input class="form-control" type="text" name="lastName" th:value="${user.lastName}"/></label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update My Details</button>
                    </div>
                </form>
                <a th:href="@{/reset/get}">Change my password</a>
            </div>
        </div>
    </div>
</section>
<!-- END section -->

<div th:replace="fragments/footer :: footer"></div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>

<script src="js/custom.js"></script>

</body>
</html>