<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Global Beer Shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="bg-img">
    <div class="container">
        <div class="topnav">
            <a href="shop">SHOP</a>
            <a href="#shop">CHECKOUT</a>
            <a href="#shop">LOGIN</a>
            <a href="#shop">CART</a>
            <a href="#shop">SEARCH</a>
        </div>
    </div>
</div>

<div class="world-map">

</div>
</body>
</html>